<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IMC</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <div class="container">
        <h1>CALCULADORA IMC</h1>
        <div class="form">
            <form method="POST">
                <label for="altura">Sua altura:</label>
                <input type="number" name="altura" id="altura" placeholder="Metros" step="0.01" required>
                
                <label for="peso">Seu peso:</label>
                <input type="number" name="peso" id="peso" placeholder="Quilos" step="0.1" required>

                <button type="submit">CALCULAR</button>
            </form>
        </div>

        {% if imc is not none %}
        <div class="resultado">
            <h2>SEU IMC:</h2>
            <div id="imc">{{ imc }}</div>
            <p id="classificacao">Classificação: {{ classificacao }}</p>
            <p id="obesidade">Obesidade(grau): {{ obesidade }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
